{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bulma-rtl.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>فوتبالت</title>
</head>
<body>
    {% if mobile %} 
      {% include 'navmobile.html' %} 
    {% else %} 
       {% include 'nav.html' %} 
    {% endif %}  
    {% block content %} 
    {% endblock %}
    {% block scripts %} 
    {% endblock %}
</body>
</html>